@use "/src/sass/base/variables.scss" as *;

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Josefin Sans", sans-serif;
}

.no-scroll {
    overflow: hidden;
    height: 100vh; /* фиксируем высоту */
  }

.container{
    max-width: 1160px;
    margin: 0 auto;
}

@media screen and (max-width: $breakpoint-large-desktop) {
    .container{
        max-width: 100%;
        padding: 0 110px;
    }
}

@media screen and (max-width: $breakpoint-desktop) {
    .container{
        padding: 0 50px;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .container{
        padding: 0 10px;
    }
}