$blue: #446381;
$color-warm-pink: #EB8382;
$violet-muted: #826F8C;
$bg-card: #ffffff33;
$bg-main: #FFE6D7;
$bg-pricing-card: #FBDACF;
$pricing-card-selected: linear-gradient(#446381, #826F8C);


$breakpoint-large-desktop: 1440px;
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 1024px;       
$breakpoint-tablet: 768px;        
$breakpoint-mobile: 480px;