@use "/src/sass/base/variables.scss" as *;

.promo {
  padding-top: 160px;
  padding-bottom: 80px;
  overflow-x: hidden;
  background-image: url(/src/img/promo/bg-promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffd9c3;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
  }

  &__text {
    position: relative;
  }

  &__title {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 23px;
    line-height: 24px;
    color: $blue;
    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(30%, -10%);
      content: "";
      width: 129px;
      height: 29px;
      background-image: url(/src/img/promo/arrow-promo.svg);
    }
  }

  &__subtitle {
    margin-top: 26px;
    font-weight: 700;
    font-size: 68px;
    line-height: 75px;
    color: $color-warm-pink;
    &_text-blue {
      color: $blue;
      font-weight: 500;
      font-size: 58px;
      span {
        font-weight: 700;
      }
    }
  }

  &__description {
    margin-top: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: $violet-muted;
  }

  &__button {
    margin-top: 36px;
  }

  &__cross {
    position: absolute;
    left: 60%;
    bottom: -5%;
    animation: rotating 10s linear infinite;
  }

  &__boy-container {
    position: relative;
    display: grid;
    place-items: center;
    padding-right: 10%;
  }

  &__hole {
    max-width: 90%;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  &__boy {
    max-width: 100%;
    position: relative;
    z-index: 3;
    animation: boy 1s linear;
  }

  &__joy {
    max-width: 80%;
    position: absolute;
    top: 8%;
    left: 15%;
    opacity: 0;
    animation: joy 1s linear 1s forwards;
  }

  &__card {
    display: flex;
    gap: 10px;
    padding: 18px 16px;
    position: absolute;
    z-index: 4;
    width: 212px;
    height: 95px;
    background-color: $bg-card;
    box-shadow: 0px 10px 20px 0px #eb838266;
    border-radius: 10px;
    font-size: 10px;

    &-glasses {
      top: 0;
      right: 65%;
    }

    &-controller{
      bottom: 0%;
      left: 65%;
    }

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      font-weight: 500;
      font-size: 1em;
      line-height: 1.2em;
      color: $blue;
    }

    &-subtitle {
      font-weight: 700;
      font-size: 1em;
      line-height: 1em;
      color: $color-warm-pink;
    }

    &-img {
      max-width: 84px;
      max-height: 52px;
    }

    &-rate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.4em;
    }

    &-review {
      font-weight: 500;
      font-size: .8em;
      line-height: 1.2em;
      color: $blue;
    }
  }
}

@keyframes joy {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform:  scale(1);
    opacity: 1;
  }
}

@keyframes boy {
  0% {
    transform: translate(-10%, 10%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotating {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, 50%) rotate(360deg);
  }
}



@media screen and (max-width: $breakpoint-large-desktop) {
  .promo{
    padding-top: 200px;
    &__subtitle{
      font-size: 58px;
      &_text-blue{
        font-size: 52px;
      }
    }
    &__description{
      font-size: 16px;
    }
  }
}

@media screen and (max-width: $breakpoint-desktop) {
  .promo{
    height: auto;
    &__card{
      width: 170px;
      height: 70px;
      padding: 8px 6px;
      
      &-img {
        max-width: 54px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-laptop) {
  .promo{
    &__subtitle{
      margin-top: 15px;
      font-size: 44px;
      line-height: 65px;
      &_text-blue{
        font-size: 40px;
      }
    }

    &__title{
      &::after{
        display: none;
      }
    }

    &__description{
      margin-top: 15px;
    }

    &__cross{
      display: none;
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .promo{
    &__wrapper{
      display: flex;
      flex-direction: column-reverse;
    }

    &__subtitle{
      line-height: 55px;
    }

  }
}


@media screen and (max-width: $breakpoint-mobile) {
  .promo{
    &__title{
      font-size: 20px;
    }
    &__subtitle{
      font-size: 40px;
      &_text-blue{
        font-size: 35px;
      }
    }

    &__card{
      width: 110px;
      height: 50px;
      padding: 2px 3px;
      font-size: 6px;

      &-review{
        display: none;
      }

      &-img {
        max-width: 40px;
      }
    }
  }
}